
    {% extends 'base.html' %}

    {% block content %}
    <div class="main-card">

        <div class="table-responsive">
            <table class="table table-hover border">
                <thead class="table-dark">
                    <tr>
                        <th class="py-3">No</th>
                        <th class="py-3 px-4">Order No</th>
                        <th class="py-3 px-4">Quantity</th>
                        <th class="py-3 px-4">Total Price</th>
                        <th class="py-3 px-4">Discount</th>
                        <th class="py-3 px-4">Status</th>                        
                        <th class="py-3 px-4">Created By</th>
                        <!-- <th class="py-3 px-4">Order Status</th> -->
                        
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ orders.start_index|add:forloop.counter0 }}</td>
                        <td><a href="{% url 'order_test' order.id %}">#{{ order.order_id.order_number }}</a></td>
                        <td>{{ order.amount }} items</td>
                        <td>{{ order.price }} MMK</td>
                        <td>{{ order.discount }} MMK</td>
                        <td>
                            <span
                            class="{% if order.order_status == 'pending' %}text-warning {% elif order.order_status == 'cancelled' %}text-danger {% else %}text-success {% endif %}">
                            {{ order.get_order_status_display }}
                        </span>
                        </td>
                        <td>{{ order.order_id.created_by.username }}</td>
                        <!-- <td>
                        
                            {% if order.order_status == 'pending' %}

                            <!-- <a class="btn btn-sm btn-primary" href="{% url 'order_test' order.id %}?status=completed">Approve</a>
                            <a class="btn btn-sm btn-danger" href="{% url 'order_test' order.id %}?status=cancelled">Cancel</a>  
                            {% else %}
                            <a class="btn btn-sm btn-warning" href="{% url 'order_test' order.id %}?status=pending">Edit</a> 
                            {% endif %}           -->

                        <!-- </td>                          -->
                                                
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center py-5 text-muted">
                            No Order Available
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           
        </div>
         {% include 'paggination/pagg.html' with page_obj=orders %}
    </div>
    {% endblock %}
    </div>
