{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="main-card shadow-sm border-0 p-4" style="background: white; border-radius: 15px;">
            <h3 class="fw-bold mb-4">Add New User</h3>
            <div class="card-body">

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                {% endfor %}
                {% endif %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6 border-end">
                            <h5 class="text-primary mb-3">Account Info</h5>
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input type="text" name="username" class="form-control" placeholder="Enter username"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" placeholder="email@example.com"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" placeholder="••••••••"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="confirm_password" class="form-label font-weight-bold">Confirm
                                    Password</label>
                                <input type="password" name="confirm_password" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h5 class="text-primary mb-3">Profile Details</h5>
                            <div class="mb-3">
                                <label class="form-label">Phone Number</label>
                                <input type="text" name="phone_no" class="form-control" placeholder="09xxxxxxxxx"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">User Role</label>
                                <select name="vantor" class="form-select" required>
                                    <option value="user">Normal Customer</option>
                                    <option value="vendor">Vendor (Shop Seller)</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Shop Logo / Image</label>
                                <input type="file" name="vendor_image" class="form-control" accept="image/*">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Address</label>
                                <textarea name="address" class="form-control" rows="1" placeholder="Current address"
                                    required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 d-flex justify-content-end">
                        <a href="{% url 'user_list' %}" class="btn btn-light me-2">Cancel</a>
                        <button type="submit" class="btn btn-primary px-4">Save User</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    {% endblock %}