    {% extends 'base.html' %}
    {% block content %}
    <div class="main-card">
        <div class="d-flex justify-content-between mb-4">
            <h4>User Accounts</h4>
            <a href="{% url 'add_user' %}" class="btn btn-primary">+ Add New User</a>
        </div>
        <table class="table table-hover border">
            <thead class="table-dark">
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Phone</th>
                    <th>Vantor</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Joined Date</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ users.start_index|add:forloop.counter0 }}</td>
                    <td>
                        <a href="{% url 'user_detail' user.pk %}" class="text-decoration-none fw-bold text-primary">
                            {{ user.username }}
                        </a>
                    </td>

                    <td>{{ user.userprofile.phone_no|default:"-" }}</td>
                    <td>{{ user.userprofile.vantor|default:"-" }}</td>

                    <td>{{ user.email }}</td>
                    <td><small>{{ user.userprofile.address|truncatewords:5 }}</small></td>
                    <td>{{ user.date_joined|date:"d M Y" }}</td>
                    <td class="text-center">
                        <a href="{% url 'update_user' user.pk %}" class="btn btn-sm btn-outline-warning">Edit</a>

                        <a href="{% url 'delete_user' user.id %}" class="btn btn-danger btn-sm"
                            onclick="return confirm('Are you sure you want to delete this user ({{ user.username }})?');">
                            Delete
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center py-4 text-muted">No users found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'paggination/pagg.html' with page_obj=users %}
    </div>
    {% endblock %}
